# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/authentication/node_modules
/e_store/node_modules

# production
/authentication/build
/e_store/build

# environment variables
.env

# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos
