
# dependencies

/userService/node_modules
/order_cartService/node_modules
/productService/node_modules

# production
/userService/build
/order_cartService/build
/productService/build

# environment variables
.env

